@font-face {
  font-family: 'Roboto-Regular';
  src: url('../fonts/Roboto-Regular/Roboto-Regular.woff') format('woff'),
       url('../fonts/Roboto-Regular/Roboto-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Bold';
  src: url('../fonts/Roboto-Bold/Roboto-Bold.woff') format('woff'),
       url('../fonts/Roboto-Bold/Roboto-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

body {
	padding: 0;
	margin: 0;
	background-color: #111;
	color: #fff;
	font-family: 'Roboto Slab', serif;
	overflow-x: hidden;
}

body::-webkit-scrollbar {
	width: 10px;
}

body::-webkit-scrollbar-track {
	background-color: #222;
}

body::-webkit-scrollbar-thumb {
	background-color: #AF8D4F;
}

button {
	outline: none;
}

a {
	text-decoration: none;
	color: #fff;
}

.container {
	max-width: 1280px;
	width: 100%;
	padding: 0 15px;
	margin: 0 auto;
}

.header-top {
	width: 100%;
	min-height: 50px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.social {
	display: flex;
	align-items: center;
}

.social__text {
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
}

.social__link {
	margin-left: 15px;
	transition: color .2s ease;
}

.social__link:hover {
	color: #AF8D4F;
}

.phone {
	display: block;
	font-size: 18px;
	font-weight: bold;
}

.phone a {
	color: #AF8D4F;
}

.main-header {
	width: 100%;
	position: absolute;
	margin-top: 30px;
}

.header__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.menu__link {
	text-transform: uppercase;
	margin-left: 35px;
	font-size: 14px;
	font-weight: bold;
	transition: text-shadow .2s ease;
}

.menu__link:hover {
	text-shadow: 2px 2px 0px #AF8D4F;
}

.hero {
	position: relative;
	z-index: -1;
	width: 100%;
	height: 100vh;
	background-image: url('../img/hero-img.jpg');
	background-repeat: no-repeat;
}

.hero:before {
	content: '';
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.8);
	position: absolute;
}

.hero-title {
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	z-index: 1;
	text-transform: uppercase;
	font-size: 90px;
	font-weight: bold;
	text-shadow: 3px 3px 0px #AF8D4F;
}

.booking__form {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #222;
	padding: 50px;
	margin-top: -75px;
}

option {
	margin: 5px 0;
}

label {
	margin: 0px 25px;
}

input {
	width: 20%;
	border: 1px solid #AF8D4F;
	padding: 14px 0 14px 30px;
	color: #fff;
	font-family: 'Roboto Slab', serif;
	font-size: 14px;
}

.date__form {
	background-color: #222;
}

select {
	width: 20%;
	border: 1px solid #AF8D4F;
	background-color: #222;
	padding: 14px 0 14px 30px;
	color: #fff;
	font-family: 'Roboto Slab', serif;
	font-size: 14px;
	-webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

select:hover {
	cursor: pointer;
}

input::-webkit-inner-spin-button, input::-webkit-clear-button {
	display: none;
}

.btn__form {
	background-color: #AF8D4F;
	padding: 14px 60px;
	border: none;
	margin-left: 50px;
	font-family: 'Roboto Slab', serif;
	font-weight: bold;
	font-size: 14px;
	text-transform: uppercase;
	transition: background-color .2s linear;
}

.btn__form:hover {
	background-color: #C39E58;
	cursor: pointer;
}

.section-title {
	font-weight: bold;
	font-size: 36px;
	text-transform: uppercase;
	color: #AF8D4F;
	margin-bottom: 30px;

}

.section {
	margin-top: 150px;
}

.about__inner {
	display: flex;
	justify-content: space-between;
}

.text-left {
	width: 40%;
}

.image-right {
	margin-top: 60px;
}

.desc {
	font-family: 'Roboto', sans-serif;
	line-height: 150%;
}

.menu__wrapper {
	display: flex;
}

.menu__sidebar {
	display: flex;
	flex-direction: column;
}

.sidebar__tab {
	width: 290px;
	padding: 25px 0px 25px 10px;
	font-size: 22px;
	margin-bottom: 10px;
	text-transform: uppercase;
	border: none;
	background-color: #111;
	color: #fff;
	text-align: left;
	font-family: 'Roboto Slab', serif;
	font-weight: bold;
}

.sidebar__tab:last-child {
	margin-bottom: 0;
}

.sidebar__tab:hover {
	background-color: #222;
	cursor: pointer;
}

.menu__content {
	width: 100%;
	background-color: #222;
	padding: 40px;
	display: none;
	border-left: 2px solid #AF8D4F;
}

.content--active {
	display: block;
}

.menu-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.menu__item {
	width: 370px;
	margin-bottom: 20px;
}

.menu--active {
	background-color: #222;
	color: #AF8D4F;
}

.menu__item:nth-child(5), .menu__item:nth-child(6) {
	margin-bottom: 0;
}

.menu__title {
	display: flex;
	justify-content: space-between;
}

.menu__name {
	font-weight: bold;
}

.menu__price {
	color: #AF8D4F;
}

.menu__desc {
	font-size: 14px;
	font-family: 'Roboto', sans-serif;
	color: #a5a5a5;
}

.gallery__inner {
	display: flex;
	flex-wrap: wrap;
}

.gallery__item {
	display: inline-block;
	overflow: hidden;
	margin: 0 15px 15px 0;
}

.gallery__item:nth-child(4), .gallery__item:nth-child(5), .gallery__item:nth-child(6) {
	margin-bottom: 0;
}

.gallery__item img{
	transition: 1s ease;
}

.gallery__item img:hover {
	transform: scale(1.2);
	cursor: pointer;
}

footer {
	margin-top: 150px;
	width: 100%;
	height: 450px;
	background-color: #222;
}

.footer__inner {
	display: flex;
	justify-content: space-between;
	padding-top: 50px;
}

.footer__form {
	width: 40%;
}

.footer__textarea {
	width: 100%;
	background-color: #222;
	border: 1px solid #AF8D4F;
	display: inline-block;
	color: #a5a5a5;
	padding-left: 20px;
	padding-top: 10px;
	font-family: 'Roboto Slab', serif;
}

.text {
	display: flex;
	margin-top: 10px;
}

.footer__input {
	color: #a5a5a5;
	font-size: 12px;
	width: 50%;
	margin-right: 10px;
	background-color: #222;
}

.footer__input:last-child {
	margin-right: 0;
}

.btn__footer {
	padding: 10px 50px;
	font-weight: bold;
	font-family: 'Roboto Slab', serif;
	font-size: 14px;
	margin-top: 15px;
	background-color: #AF8D4F;
	border: none;
	transition: background-color .2s linear;
}

.btn__footer:hover {
	background-color: #C39E58;
	cursor: pointer;
}

.footer-title {
	margin-bottom: 20px;
	text-transform: uppercase;
}

.fa-map-marker, .fa-phone, .fa-envelope {
	margin-right: 20px;
}

.address {
	display: block;
	margin-bottom: 20px;
	font-size: 14px;
	font-family: 'Roboto', sans-serif;
}

.footer__phone {
	display: block;
	margin-bottom: 20px;
	font-size: 14px;
	font-family: 'Roboto', sans-serif;
}

.mail {
	font-size: 14px;
	font-family: 'Roboto', sans-serif;
}

.hours__item {
	display: flex;
	justify-content: space-between;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
}

.day {
	font-weight: bold;
	color: #AF8D4F;
}

.time {
	margin: 0 0 10px 30px;
}
.burger {
	display: none;
	background: none;
	border: none;
	padding: 15px 5px;
}

.show {
	display: flex;
	flex-direction: column;
	position: absolute;
	left: -10%;
	top: 50px;
	width: 120%;
	background-color: #222;
	padding: 20px;
}

.burger__item {
	display: block;
	width: 25px;
	height: 3px;
	background-color: #fff;
	position: relative;
}

.burger__item:before {
	content: "";
	width: 20px;
	height: 100%;
	position: absolute;
	right: 0;
	bottom: -8px;
	z-index: 1;
	background-color: #fff;
}

.burger__item:after {
	content: "";
	width: 30px;
	height: 100%;
	position: absolute;
	top: -8px;
	right: 0;
	z-index: 1;
	background-color: #fff;
}

@media (max-width: 991px) {
	.hero-title {
		font-size: 60px;
	}
	input {
		width: 20%;
		padding: 13px 0 13px 14px;
		font-size: 12px;
	}
	select {
		width: 20%;
		padding: 14px 0 14px 14px;
		font-size: 12px;
	}
	.btn__form {
		width: 30%;
		padding: 14px 20px;
	}
	.text-left {
		width: 100%;
	}
	.image-right {
		display: none;
	}
	.gallery__inner {
		justify-content: center;
	}
	.gallery__item:nth-child(4), .gallery__item:nth-child(5), .gallery__item:nth-child(6) {
		margin-bottom: 15px;
	}
	footer {
		background-color: #222;
		height: 100%;
		padding-bottom: 50px;
	}
	.footer__inner {
		flex-wrap: wrap;
		justify-content: center;
	}
	.hours {
		margin-left: 50px;
		margin-bottom: 50px;
	}
	.footer__form {
		width: 100%;
	}
}

@media (max-width: 768px) {
	.header-top {
		display: none;
	}
	.menu__wrapper {
		display: flex;
		flex-direction: column;
	}
	.gallery__inner {
		justify-content: center;
	}
	.info-block {
		width: 100%;
	}
	.hours {
		width: 100%;
		margin: 50px 0 50px 0;
	}
	.booking__form {
		display: flex;
		flex-direction: column;
	}
	input {
		width: 100%;
	}
	select {
		width: 100%;
	}
	.btn__form {
		width: 100%;
		margin-left: 0;
		margin-top: 20px;
	}
	label {
		margin: 10px 0;
	}
	.hero-title {
		font-size: 50px;
		text-shadow: 2px 2px 0px #AF8D4F;
	}
	.burger {
		display: block;
	}
	nav {
		display: none;
	}
	.menu__link {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-bottom: 20px;
	}
	.menu__link:last-child {
		margin-bottom: 0;
	}
}